<!-- 
* File: about.html
* Author: Balogh Csenge
* Copyright: 2021, Balogh Csenge
* Group: Szoft_I_N
* Date: 2022_05_30
* Github: https://github.com/csengekulker/
* Licenc: GNU GPL
 -->


<h2>Névjegy</h2>

<div class="card w-100 text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Balogh Csenge</h5>
      <h6 class="card-subtitle mb-2 text-muted">Külkereskedelmi Technikum</h6>
      <p class="card-text">Osztály: Szoft_I_N</p>
      <p class="card-text">Készítés dátuma: 2022.05.30</p>

      <p><strong>Az oldal forrása elérhető itt: </strong> <a href="https://github.com/csengekulker/php-ellipszis" class="link-secondary">
        <i class="bi bi-github"></i>
    </a></p>

    </div>
  </div>
  